@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  /* height: 100vh; */
  font-size: 16px;
  height: 100vh;
  display: grid;
  place-content: center;
}

/* !Começando o design ------------------------------------------------------ */
.container {
  width: 375px;
  height: 667px;
  background: #eff5ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 20px 25px 40px -20px rgba(0, 0, 0, 0.0951141);
  border-radius: 15px;
  position: relative;
}

/* ! NAV ------------------------------------------------------------------- */

nav {
  width: 375px;
  height: 172px;
  background-image: url(./assets/images/bg-sidebar-mobile.svg);
  padding-top: 32px;
  border-radius: 15px 15px 0 0;
}

#container_dos_passos {
  width: 180px;
  height: 33px;
  display: flex;
  column-gap: 16px;
  margin: 0 auto;
}

.container_info_passo {
  display: none;
}

.passo {
  width: 33px;
  height: 33px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  display: grid;
  place-content: center;
  color: #ffffff;
}

.passo.ativo {
  background: #bee2fd;
  color: #022959;
}

/* ! Main ------------------------------------------------------------------ */
main {
  width: 343px;
  height: 376px;
  border-radius: 10px;
  margin: 0 auto;
  background: #ffffff;
  padding: 32px 24px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 43.5%;
  left: 50%;
  display: grid;
  place-content: center;
  /* border: 1px solid red; */
}

form {
  display: none;
}

main h2 {
  font-size: 24px;
  font-weight: 700;
  color: #022959;
  margin-bottom: 9px;
}

main p {
  font-size: 16px;
  font-weight: 400;
  color: #9699aa;
  margin-bottom: 22px;
}

.container_input {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  position: relative;
}

label {
  font-size: 12px;
  font-weight: 400;
  color: #022959;
  margin-bottom: 3px;
}

input {
  border: 1px solid #d6d9e6;
  border-radius: 4px;
  color: #9699aa;
  font-size: 15px;
  padding-left: 16px;
  width: 295px;
  height: 40px;
}

input:focus {
  outline: 2px solid #483eff;
  /* border: 2px solid #483eff; */
}

/* ! Footer ---------------------------------------------------------------- */
footer {
  width: 375px;
  height: 72px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 15px 15px;
  padding: 0 16px;
}

.botao_proximo {
  width: 97px;
  height: 40px;
  background: #022959;
  border-radius: 4px;
  color: white;
  font-weight: 500px;
  transition: all 1s;
}

.botao_proximo.animate {
  animation-name: animacaoLegal;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
}

.botao_proximo.desabilitado {
  opacity: 0.2;
}

@keyframes animacaoLegal {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}

.botao_voltar {
  width: 97px;
  height: 40px;
  color: #9699aa;
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
}

main .botao_proximo {
  position: absolute;
  bottom: -100px;
  right: 0;
  display: none;
}

.mensagem_erro {
  position: absolute;
  right: 10px;
  top: -7px;
  color: #ee374a;
  font-size: 12px;
  font-weight: 700;
  display: none;
}

/* ! Editando tela selecione plano ---------------------------- */
.container_plano_pai {
  height: 470px;
  width: 343px;
  padding: 32px 23px;
  margin-top: 80px;
  background: white;
  border-radius: 10px;
  display: none;
}

#container_dos_planos {
  width: 295px;
  height: 255px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin: 22px 0 24px 0;
}

.card_plano {
  width: 295px;
  height: 77px;
  border: 1px solid #d6d9e6;
  background: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 16px;
  column-gap: 14px;
}

.titulo_plano {
  font-size: 16px;
  font-weight: 500;
  color: #022959;
  margin-bottom: 7px;
}

.valor_plano {
  font-size: 14px;
  color: #9699aa;
  font-weight: 400;
}

.card_plano.selecionado {
  border: 1px solid #483eff;
  background: #f8f9ff;
}

#container_troca_pagamento {
  width: 295px;
  height: 48px;
  background: #f8f9ff;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 24px;
}

#container_troca_pagamento p {
  color: #9699aa;
  font-size: 14px;
  font-weight: 500;
}

#container_troca_pagamento p.selecionado {
  color: red;
}

#container_switch {
  width: 38px;
  height: 20px;
  background: #022959;
  border-radius: 10px;
  position: relative;
}

#circulo_switch {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 10px;
}

/* ! Tela dos adicionais ---------------------------------------------------- */
.box_do_adicional {
  width: 295px;
  height: 62px;
  display: flex;
  align-items: center;
}

.checkbox_input {
  width: 20px;
  height: 20px;
}

.container_detalhes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid red;
}
.nome_do_adicional {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  color: #022959;
}

.descricao_do_adicional {
  font-size: 12px;
  margin: 0;
}

/* todo Media queries ------------------------------------------------------ */

@media (min-width: 900px) {
  .container {
    width: 940px;
    height: 600px;
    background: white;
    display: flex;
    justify-content: center;
    border: 1px solid #97979730;
    padding-left: 16px;
  }

  nav {
    width: 274px;
    height: 568px;
    background-image: url('./assets/images/bg-sidebar-desktop.svg');
    border-radius: 10px;
  }

  main {
    width: 450px;
    height: 372px;
    right: -225px;
    top: 242px;
    padding: 0;
    position: absolute;
  }

  input {
    width: 450px;
    height: 48px;
  }

  footer {
    display: none;
  }

  main .botao_proximo {
    display: block;
    position: absolute;
    right: 0;
    bottom: -92px;
  }

  #container_dos_passos {
    display: flex;
    flex-direction: column;
    width: 173px;
    height: 228px;
    justify-content: space-between;
  }

  .container_info_passo {
    display: block;
    display: grid;
    place-content: center;
  }

  .container_passo {
    display: flex;
    column-gap: 16px;
  }

  .primeira_linha {
    color: #abbcff;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 3px;
  }

  .segunda_linha {
    font-size: 11px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
  }

  .botao_proximo:hover {
    cursor: pointer;
    background: #164a8a;
    border: #164a8a;
  }

  .card_plano:hover {
    border: 1px solid #483eff;
    cursor: pointer;
  }

  #container_switch:hover {
    cursor: pointer;
  }

  /* Começando alterações da tela de seleção de plano  ---------- */

  .container_plano_pai {
    width: 450px;
    height: 348px;
    padding: 0px 0px 0px 0px;
    margin-top: 0;
  }

  #container_dos_planos {
    display: flex;
    flex-direction: row;
    width: 450px;
    height: 160px;
    column-gap: 18px;
    margin: 0;
    margin-top: 40px;
  }

  .card_plano {
    width: 138px;
    height: 160px;
    flex-direction: column;
    column-gap: 0;
    align-items: flex-start;
    padding-top: 20px;
  }

  .card_plano img {
    margin-bottom: 39px;
  }

  #container_troca_pagamento {
    width: 450px;
    margin-top: 32px;
  }

  .cabecalho h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 11px;
  }

  .cabecalho p {
    font-size: 16px;
    font-weight: 400;
    color: #9699aa;
  }
}
